.pokedex-description {
    text-align: justify;
    hyphens: auto;
}

#pokedex {
    background-color: rgb(241, 87, 87);
}

#poke-img {
    width: 50%;
}

.text-box {
    background-color: #fff;
}

#pokemon-picture {
    background-color: #ccc;
}


#text-description {
    background-color: aqua;
}

#poke-description {
    text-align: justify;
    hyphens: auto;
}
