#pokedex-description {
    text-align: justify;
    hyphens: auto;
}

#pokedex {
    background-color: rgb(241, 87, 87);
    /* min-height: 400px; */
}

#poke-img {
    width: 50%;
}

.text-box {
    background-color: #fff;
    /* width: 15rem; */
}

#pokemon-picture {
    background-color: #ccc;
    /* min-height: 50px; */
    /* width: 100%; */
    /* width: 30%;
    min-height: 30%; */
}


#text-description {
    background-color: aqua;
}

#poke-description {
    text-align: justify;
    hyphens: auto;
}